.Net WPF+MVVM/MobileWebFormsApplication/Service References/MobileService1/MobileService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55388/MobileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RIS_lab6" />
  <xs:import schemaLocation="http://localhost:55388/MobileService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="addQuestionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RIS_lab6" minOccurs="0" name="quest" nillable="true" type="q1:questionnaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addQuestionnaireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="statOS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="statOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="statOSResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="statRead">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="statReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statReadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="statPrice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="statPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statPriceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>