.Net WPF+MVVM/MobileWebFormsApplication/Service References/MobileService1/MobileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MobileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55388/MobileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55388/MobileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55388/MobileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RIS_lab6" />
      <xsd:import schemaLocation="http://localhost:55388/MobileService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMobileService_addQuestionnaire_InputMessage">
    <wsdl:part name="parameters" element="tns:addQuestionnaire" />
  </wsdl:message>
  <wsdl:message name="IMobileService_addQuestionnaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:addQuestionnaireResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_statOS_InputMessage">
    <wsdl:part name="parameters" element="tns:statOS" />
  </wsdl:message>
  <wsdl:message name="IMobileService_statOS_OutputMessage">
    <wsdl:part name="parameters" element="tns:statOSResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_statRead_InputMessage">
    <wsdl:part name="parameters" element="tns:statRead" />
  </wsdl:message>
  <wsdl:message name="IMobileService_statRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:statReadResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_statPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:statPrice" />
  </wsdl:message>
  <wsdl:message name="IMobileService_statPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:statPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="IMobileService">
    <wsdl:operation name="addQuestionnaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/addQuestionnaire" message="tns:IMobileService_addQuestionnaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/addQuestionnaireResponse" message="tns:IMobileService_addQuestionnaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="statOS">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/statOS" message="tns:IMobileService_statOS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/statOSResponse" message="tns:IMobileService_statOS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="statRead">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/statRead" message="tns:IMobileService_statRead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/statReadResponse" message="tns:IMobileService_statRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="statPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/statPrice" message="tns:IMobileService_statPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/statPriceResponse" message="tns:IMobileService_statPrice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMobileService" type="tns:IMobileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addQuestionnaire">
      <soap:operation soapAction="http://tempuri.org/IMobileService/addQuestionnaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="statOS">
      <soap:operation soapAction="http://tempuri.org/IMobileService/statOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="statRead">
      <soap:operation soapAction="http://tempuri.org/IMobileService/statRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="statPrice">
      <soap:operation soapAction="http://tempuri.org/IMobileService/statPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MobileService">
    <wsdl:port name="BasicHttpBinding_IMobileService" binding="tns:BasicHttpBinding_IMobileService">
      <soap:address location="http://localhost:55388/MobileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>