.Net WPF+MVVM/MobileWebFormsApplication/Service References/MobileService1/MobileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RIS_lab6" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RIS_lab6" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="questionnaire">
    <xs:sequence>
      <xs:element minOccurs="0" name="OS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="furniture" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="income" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="mobile_existence" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="profession" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="read" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="questionnaire" nillable="true" type="tns:questionnaire" />
</xs:schema>